* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: white;

}


.main_pageLogin {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 100vh;
    text-align: center;
}

.btns {
    display: flex ;
    margin-top: 20px;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}